body{
    height: 100%;
}

.container-geral{
    max-width: 1920px;
    margin: 0 auto;
}

.container-menu-itens{
    top: 8%;
}

.container-texto-carousel{
    position: relative;
}

.container-texto-carousel .texto-promo{
    position: absolute;
    top: 145px;
    right: 60%;
    color: white;
    font-size: 40px;
    text-shadow: 1px 3px 7px rgb(65, 65, 65);
    padding: 50px;
    margin-left: 90px;
}

body .container-cardapio{
    justify-content: center;
}

.container-cardapio{
    display: flex;
    margin-top: 35px;
}

.container-cardapio a img{
    max-width: 160px;
    margin: 30px;
}


.inical-produtos{
    display: flexbox;
    margin-left: 30px;
}

.texto-merchan{
    text-align: center;
    margin: 15px;
    margin-top: 50px;
}

.entrega{
    margin: 15px;
}

figure{
    max-width: 100px;
    margin: 30px;
}

/* Headear */
.collapse{
    justify-content: center;
}

body .collapse .text-end a{
   margin-left: 5px;
}

.logo{
    width: 45px; 
    margin-left: 45px; 
    margin-right: 65px; 
    align-items: center;
}