.logo{
    width: 45px; 
    margin-left: 45px; 
    margin-right: 65px; 
    align-items: center;
}

.container-menu-itens{
    top: 8%;
}

.texto-promo{
    color: red;
}

.container-texto-carousel{
    display: inline-block;
    position: relative;
}

.container-texto-carousel .texto-promo{
    position: absolute;
    top: 145px;
    right: 60%;
    color: red;
    font-size: 40px;
}