.logo{
    width: 45px; 
    margin-left: 45px; 
    margin-right: 65px; 
    align-items: center;
}

.container-menu-itens{
    top: 8%;
}

.container-texto-carousel{
    display: inline-block;
    position: relative;
}

.container-texto-carousel .texto-promo{
    position: absolute;
    top: 145px;
    right: 60%;
    color: white;
    font-size: 40px;
    text-shadow: 1px 3px 7px rgb(65, 65, 65);
}